# general purpose
ipykernel

# Database operation
sqlalchemy
psycopg2

# ML toolbox 
numpy
matplotlib
seaborn
pandas

# Statistics
statsmodels
scipy

# Machine learning
scikit-learn

# Deep learning

# NLP 